<p-card header=""  [style]="{ width: '100%' }">
    <div class="formgrid grid">
        <div class="field col">
            <label for="firstname2">Fecha de Inicio :</label>
            <p-calendar  [showIcon]="true"  [showOnFocus]="false" inputId="buttondisplay" />
        </div>
        <div class="field col">
            <label for="lastname2">Fecha  Fin :</label>
            <p-calendar  [showIcon]="true"  [showOnFocus]="false" inputId="buttondisplay" />
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col">
            <label for="firstname2">Descripción de la Tarea</label>
            <textarea rows="5" cols="30" pInputTextarea  formControlName="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col">
            <label for="firstname2">Estado :</label>
            <p-dropdown formControlName="selectedEstado" [options]="listEstado" optionLabel="nameEstado"
            placeholder="Seleccione" />

        </div>
        <div class="field col">
            <label for="lastname2">Categoria :</label>
            <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>PERSONAL</option>
                <option>EDUCATIVA</option>
                <option>LABORAL</option>
            </select>
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col">
            <p-button label="Agregar" class="w-full"  />
        </div>
        <div class="field col">
            <p-button label="Cancelar" severity="secondary" class="w-full" />
        </div>
    </div>
</p-card>

