<p-card header="Agregar Tarea">
    <form [formGroup]="tareaForm">
        <div class="formgrid grid">
            <div class="field col-6">
                <label for="fechaIni">Fecha de Inicio:</label>
                <p-calendar formControlName="fechaIni" [showIcon]="true" [showOnFocus]="false"
                    inputId="buttondisplay" />
            </div>
            <div class="field col-6">
                <label for="fechaFin">Fecha Fin:</label>
                <p-calendar formControlName="fechaFin" [showIcon]="true" [showOnFocus]="false"
                    inputId="buttondisplay" />
            </div>
            <div class="field col-12">
                <label for="desTarea">Descripci&oacute;n de la Tarea:</label>
                <textarea formControlName="desTarea" rows="5" pInputTextarea [autoResize]="true"></textarea>
            </div>
            <div class="field col-6">
                <label for="estado">Estado:</label>
                <p-dropdown formControlName="estado" [options]="listEstado" optionValue="code" optionLabel="name"
                    placeholder="Seleccione"></p-dropdown>
            </div>
            <div class="field col-6">
                <label for="categoria">Categor&iacute;a:</label>
                <p-dropdown formControlName="categoria" [options]="listCategoria" optionValue="codeCat"
                    optionLabel="nameCat" placeholder="Seleccione"></p-dropdown>
            </div>
        </div>
    </form>
    <div class="formgrid grid">
        <div class="field col">
            <p-button label="Agregar" icon="pi pi-plus" (onClick)="saveTarea()" />
        </div>
        <div class="field col">
            <p-button label="Cancelar" icon="pi pi-times" severity="secondary" (onClick)="close()" />
        </div>
    </div>
</p-card>