<p-toast />
<p-confirmDialog />
<p-panel header="GESTI&Oacute;N DE TAREAS">
<fieldset class="bnf-fieldset">
    <legend>Criterios de B&uacute;squeda</legend>
    <div class="formgrid grid">
        <div class="field col-6">
            <label for="fechaIni" > Fecha Inicio: </label>
            <p-calendar formControlName="fechaIni" [showIcon]="true" [showOnFocus]="false" inputId="fechaIni" />
        </div>
        <div class="field col-6">
            <label for="fechaFin" > Fecha Fin: </label>
            <p-calendar formControlName="fechaFin" [showIcon]="true" [showOnFocus]="false" inputId="fechaFin" valu/>
        </div>
        <div class="field col-6">
            <label for="estadoInput">Estado:</label>
            <p-dropdown formControlName="selectedEstado" [options]="listEstado" optionLabel="name"
                placeholder="Seleccione" />
        </div>
        <div class="field col-6">
            <label for="categoriaInput">Categoria:</label>
            <p-dropdown formControlName="selectedCategoria" [options]="listCategoria" optionLabel="nameCat"
                placeholder="Seleccione" />
        </div>
    </div>
    <div class="grid">
        <div class="col-2">
            <p-button label="Buscar" icon="pi pi-search" (onClick)="btnBuscar()" iconPos="left" />
        </div>
    </div>
</fieldset>
    <div class="grid">
        <div class="col-2">
            <p-button label="Agregar" (onClick)="openNuevo()" icon="pi pi-plus" iconPos="left" />
        </div>
    </div>

    <p-table [value]="listTareas">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>IdTarea </th>
                <th>desTarea</th>
                <th>encargado</th>
                <th>categoria</th>
                <th>fechaIni</th>
                <th>fechaFin</th>
                <th>estado</th>
                <th>accion</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-tarea let-columns="columns">
            <tr>
                <td>
                    {{tarea.idTarea}}
                </td>
                <td>
                    {{tarea.desTarea }}
                </td>
                <td>
                    {{tarea.encargado}}
                </td>
                <td>
                    {{tarea.categoria }}
                </td>
                <td>
                    {{tarea.fechaIni}}
                </td>
                <td>
                    {{tarea.fechaFin}}
                </td>
                <td>
                    {{tarea.estado}}
                </td>
                <td>
                    <p-button label="" icon="pi pi-pencil" (onClick)="openEdit()" [rounded]="true" [text]="true" />
                    <p-button label="" icon="pi pi-trash" (onClick)="eliminar($event)" [rounded]="true" [text]="true"
                        severity="danger" [outlined]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
